body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  background: #f2f2f2;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 400px;
  text-align: center;
}

.word {
  font-size: 32px;
  font-weight: bold;
}

.translate {
  font-size: 22px;
  margin-top: 10px;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}
